body {
  background-color: #121212;
  color: #f8f9fa;
}

.form-control,
.form-select,
textarea {
  background-color: #212529;
  color: #f8f9fa;
  border: 1px solid #6c757d;
}

.card,
.table {
  background-color: #212529;
  color: #f8f9fa;
}

.table thead th {
  color: #ffffff;
  background-color: #343a40;
}

.alert {
  border: 1px solid #6c757d;
}

.dropdown-menu {
  background-color: #212529;
  color: #f8f9fa;
}

.dropdown-item {
  color: #f8f9fa;
}

.dropdown-item:hover {
  background-color: #343a40;
}

.duplicate {
  background-color: #7f1d1d;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

/* Show nested dropdown menus on hover */
.navbar .dropdown-menu .dropend:hover > .dropdown-menu {
  display: block;
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
}
.diff_add { background-color: #14532d; }
.diff_chg { background-color: #78350f; }
.diff_sub { background-color: #7f1d1d; }
table.diff { width: 100%; }
