/* build timestamp: 2025-06-22T09:09:33.280Z */
/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.table-cell{border-bottom-width:1px;--un-border-opacity:1;border-color:rgb(55 65 81 / var(--un-border-opacity));padding-left:1rem;padding-right:1rem;padding-top:0.5rem;padding-bottom:0.5rem;}
.table-header{--un-bg-opacity:1;background-color:rgb(31 41 55 / var(--un-bg-opacity)) /* #1f2937 */;--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
/* layer: default */
.visible{visibility:visible;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.static{position:static;}
.inset-0{inset:0;}
.bottom-2{bottom:0.5rem;}
.bottom-full{bottom:100%;}
.left-2{left:0.5rem;}
.right-2{right:0.5rem;}
.top-2{top:0.5rem;}
.grid{display:grid;}
.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.mx-1{margin-left:0.25rem;margin-right:0.25rem;}
.mx-2{margin-left:0.5rem;margin-right:0.5rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my-2{margin-top:0.5rem;margin-bottom:0.5rem;}
.my-4{margin-top:1rem;margin-bottom:1rem;}
.mb-1{margin-bottom:0.25rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-3{margin-bottom:0.75rem;}
.mb-4{margin-bottom:1rem;}
.mb-6{margin-bottom:1.5rem;}
.mb-8{margin-bottom:2rem;}
.ml-1{margin-left:0.25rem;}
.ml-2{margin-left:0.5rem;}
.ml-4{margin-left:1rem;}
.ml-6{margin-left:1.5rem;}
.ml-auto{margin-left:auto;}
.mr-1{margin-right:0.25rem;}
.mr-2{margin-right:0.5rem;}
.ms{margin-inline-start:1rem;}
.mt-1{margin-top:0.25rem;}
.mt-10{margin-top:2.5rem;}
.mt-2{margin-top:0.5rem;}
.mt-3{margin-top:0.75rem;}
.mt-4{margin-top:1rem;}
.mt-6{margin-top:1.5rem;}
.mt-8{margin-top:2rem;}
.first\:mt-0:first-child{margin-top:0;}
.inline{display:inline;}
.block,
.group:hover .group-hover\:block{display:block;}
.inline-block{display:inline-block;}
.hidden{display:none;}
.h-\[0\.375rem\]{height:0.375rem;}
.h-\[3\.9rem\]{height:3.9rem;}
.h-\[500px\]{height:500px;}
.h-\[calc\(100vh-4rem\)\]{height:calc(100vh - 4rem);}
.h-10{height:2.5rem;}
.h-12{height:3rem;}
.h-14{height:3.5rem;}
.h-16{height:4rem;}
.h-20{height:5rem;}
.h-4{height:1rem;}
.h-40{height:10rem;}
.h-48{height:12rem;}
.h-5{height:1.25rem;}
.h-6{height:1.5rem;}
.h-64{height:16rem;}
.h-8{height:2rem;}
.h-auto{height:auto;}
.h-full{height:100%;}
.h-screen{height:100vh;}
.max-h-\[90vh\]{max-height:90vh;}
.max-w-3xl{max-width:48rem;}
.max-w-full{max-width:100%;}
.max-w-lg{max-width:32rem;}
.max-w-sm{max-width:24rem;}
.min-h-\[50vh\]{min-height:50vh;}
.min-h-\[60vh\]{min-height:60vh;}
.min-h-screen{min-height:100vh;}
.min-w-\[200px\]{min-width:200px;}
.min-w-\[20rem\]{min-width:20rem;}
.min-w-\[260px\]{min-width:260px;}
.min-w-\[280px\]{min-width:280px;}
.min-w-full{min-width:100%;}
.w-\[0\.375rem\]{width:0.375rem;}
.w-\[21\.5rem\]{width:21.5rem;}
.w-\[6\.5rem\]{width:6.5rem;}
.w-1\/2{width:50%;}
.w-16{width:4rem;}
.w-24{width:6rem;}
.w-3\/4{width:75%;}
.w-32{width:8rem;}
.w-4{width:1rem;}
.w-48{width:12rem;}
.w-5{width:1.25rem;}
.w-6{width:1.5rem;}
.w-64{width:16rem;}
.w-8{width:2rem;}
.w-96{width:24rem;}
.w-auto{width:auto;}
.w-full{width:100%;}
.max-w-screen-2xl{max-width:1536px;}
.max-w-screen-md{max-width:768px;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-1{flex:1 1 0%;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.flex-nowrap{flex-wrap:nowrap;}
.table{display:table;}
.border-collapse{border-collapse:collapse;}
.table-fixed{table-layout:fixed;}
.hover\:scale-105:hover{--un-scale-x:1.05;--un-scale-y:1.05;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.cursor-pointer{cursor:pointer;}
.select-all{-webkit-user-select:all;user-select:all;}
.list-disc{list-style-type:disc;}
.list-inside{list-style-position:inside;}
.list-none{list-style-type:none;}
.items-start{align-items:flex-start;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-0{gap:0;}
.gap-1{gap:0.25rem;}
.gap-2{gap:0.5rem;}
.gap-4{gap:1rem;}
.gap-8{gap:2rem;}
.gap-x-8{column-gap:2rem;}
.gap-y-4{row-gap:1rem;}
.space-x-0\.5>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.125rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.125rem * var(--un-space-x-reverse));}
.space-x-1>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.25rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.25rem * var(--un-space-x-reverse));}
.space-x-2>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.5rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.5rem * var(--un-space-x-reverse));}
.space-x-4>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1rem * var(--un-space-x-reverse));}
.space-y-0\.5>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.125rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.125rem * var(--un-space-y-reverse));}
.space-y-1>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.25rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.25rem * var(--un-space-y-reverse));}
.space-y-2>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.5rem * var(--un-space-y-reverse));}
.space-y-3>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.75rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.75rem * var(--un-space-y-reverse));}
.space-y-4>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(1rem * var(--un-space-y-reverse));}
.space-y-8>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(2rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(2rem * var(--un-space-y-reverse));}
.overflow-auto{overflow:auto;}
.overflow-hidden{overflow:hidden;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-auto{overflow-y:auto;}
.whitespace-nowrap{white-space:nowrap;}
.whitespace-pre-wrap{white-space:pre-wrap;}
.break-all{word-break:break-all;}
.b,
.border{border-width:1px;}
.border-b{border-bottom-width:1px;}
.border-b-0{border-bottom-width:0px;}
.border-t{border-top-width:1px;}
.border-t-0{border-top-width:0px;}
.border-\[var\(--border-color\)\]{border-color:var(--border-color);}
.border-gray-700{--un-border-opacity:1;border-color:rgb(55 65 81 / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-full{border-radius:9999px;}
.rounded-md{border-radius:0.375rem;}
.rounded-b-lg{border-bottom-left-radius:0.5rem;border-bottom-right-radius:0.5rem;}
.rounded-t-lg{border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;}
.bg-\[var\(--active-tab-bg\)\]{background-color:var(--active-tab-bg) /* var(--active-tab-bg) */;}
.bg-\[var\(--alert-bg\)\]{background-color:var(--alert-bg) /* var(--alert-bg) */;}
.bg-\[var\(--btn-bg\)\]{background-color:var(--btn-bg) /* var(--btn-bg) */;}
.bg-\[var\(--card-bg\)\]{background-color:var(--card-bg) /* var(--card-bg) */;}
.bg-\[var\(--code-bg\)\]{background-color:var(--code-bg) /* var(--code-bg) */;}
.bg-\[var\(--hover-muted\)\]{background-color:var(--hover-muted) /* var(--hover-muted) */;}
.bg-\[var\(--input-bg\)\]{background-color:var(--input-bg) /* var(--input-bg) */;}
.bg-\[var\(--nav-bg\)\]{background-color:var(--nav-bg) /* var(--nav-bg) */;}
.bg-\[var\(--submenu-bg\)\]{background-color:var(--submenu-bg) /* var(--submenu-bg) */;}
.bg-\[var\(--submenu-hover-bg\)\]{background-color:var(--submenu-hover-bg) /* var(--submenu-hover-bg) */;}
.bg-\[var\(--tab-bg\)\]{background-color:var(--tab-bg) /* var(--tab-bg) */;}
.bg-black{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000 */;}
.bg-black\/50{background-color:rgb(0 0 0 / 0.5) /* #000 */;}
.bg-gray-800{--un-bg-opacity:1;background-color:rgb(31 41 55 / var(--un-bg-opacity)) /* #1f2937 */;}
.bg-green-500{--un-bg-opacity:1;background-color:rgb(34 197 94 / var(--un-bg-opacity)) /* #22c55e */;}
.bg-green-800\/50{background-color:rgb(22 101 52 / 0.5) /* #166534 */;}
.bg-red-500{--un-bg-opacity:1;background-color:rgb(239 68 68 / var(--un-bg-opacity)) /* #ef4444 */;}
.bg-red-600{--un-bg-opacity:1;background-color:rgb(220 38 38 / var(--un-bg-opacity)) /* #dc2626 */;}
.bg-yellow-700\/50{background-color:rgb(161 98 7 / 0.5) /* #a16207 */;}
.hover\:bg-\[var\(--btn-hover\)\]:hover{background-color:var(--btn-hover) /* var(--btn-hover) */;}
.hover\:bg-\[var\(--submenu-hover-bg\)\]:hover{background-color:var(--submenu-hover-bg) /* var(--submenu-hover-bg) */;}
.hover\:bg-\[var\(--tab-hover\)\]:hover{background-color:var(--tab-hover) /* var(--tab-hover) */;}
.bg-opacity-50{--un-bg-opacity:0.5;}
.object-contain{object-fit:contain;}
.p-0{padding:0;}
.p-1{padding:0.25rem;}
.p-2{padding:0.5rem;}
.p-3{padding:0.75rem;}
.p-4{padding:1rem;}
.p-6{padding:1.5rem;}
.px-1{padding-left:0.25rem;padding-right:0.25rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-6{padding-left:1.5rem;padding-right:1.5rem;}
.py-0\.5{padding-top:0.125rem;padding-bottom:0.125rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-1\.5{padding-top:0.375rem;padding-bottom:0.375rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.pb-2{padding-bottom:0.5rem;}
.pl-4{padding-left:1rem;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.align-middle{vertical-align:middle;}
.text-\[0\.65rem\]{font-size:0.65rem;}
.text-\[0\.6rem\]{font-size:0.6rem;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-\[var\(--active-tab-text\)\]{color:var(--active-tab-text) /* var(--active-tab-text) */;}
.text-\[var\(--btn-text\)\]{color:var(--btn-text) /* var(--btn-text) */;}
.text-\[var\(--card-text\)\]{color:var(--card-text) /* var(--card-text) */;}
.text-\[var\(--code-text\)\]{color:var(--code-text) /* var(--code-text) */;}
.text-\[var\(--font-size\)\]{color:var(--font-size) /* var(--font-size) */;}
.text-\[var\(--input-text\)\]{color:var(--input-text) /* var(--input-text) */;}
.text-\[var\(--nav-text\)\]{color:var(--nav-text) /* var(--nav-text) */;}
.text-\[var\(--submenu-text\)\]{color:var(--submenu-text) /* var(--submenu-text) */;}
.text-\[var\(--tab-text\)\]{color:var(--tab-text) /* var(--tab-text) */;}
.text-blue-500{--un-text-opacity:1;color:rgb(59 130 246 / var(--un-text-opacity)) /* #3b82f6 */;}
.text-gray-400{--un-text-opacity:1;color:rgb(156 163 175 / var(--un-text-opacity)) /* #9ca3af */;}
.text-gray-500{--un-text-opacity:1;color:rgb(107 114 128 / var(--un-text-opacity)) /* #6b7280 */;}
.text-green-400{--un-text-opacity:1;color:rgb(74 222 128 / var(--un-text-opacity)) /* #4ade80 */;}
.text-green-500{--un-text-opacity:1;color:rgb(34 197 94 / var(--un-text-opacity)) /* #22c55e */;}
.text-green-600{--un-text-opacity:1;color:rgb(22 163 74 / var(--un-text-opacity)) /* #16a34a */;}
.text-orange-500{--un-text-opacity:1;color:rgb(249 115 22 / var(--un-text-opacity)) /* #f97316 */;}
.text-red-300{--un-text-opacity:1;color:rgb(252 165 165 / var(--un-text-opacity)) /* #fca5a5 */;}
.text-red-400{--un-text-opacity:1;color:rgb(248 113 113 / var(--un-text-opacity)) /* #f87171 */;}
.text-red-500{--un-text-opacity:1;color:rgb(239 68 68 / var(--un-text-opacity)) /* #ef4444 */;}
.text-red-600{--un-text-opacity:1;color:rgb(220 38 38 / var(--un-text-opacity)) /* #dc2626 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.text-yellow-400{--un-text-opacity:1;color:rgb(250 204 21 / var(--un-text-opacity)) /* #facc15 */;}
.hover\:text-\[var\(--btn-hover-text\)\]:hover{color:var(--btn-hover-text) /* var(--btn-hover-text) */;}
.hover\:text-blue-400:hover{--un-text-opacity:1;color:rgb(96 165 250 / var(--un-text-opacity)) /* #60a5fa */;}
.font-bold,
.fw-bold{font-weight:700;}
.font-mono{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
.underline{text-decoration-line:underline;}
.tab{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.opacity-0{opacity:0;}
.opacity-100{opacity:1;}
.opacity-50{opacity:0.5;}
.opacity-80{opacity:0.8;}
.shadow{--un-shadow:var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.blur{--un-blur:blur(8px);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-opacity{transition-property:opacity;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-200{transition-duration:200ms;}
@media (min-width: 640px){
.sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
}
@media (min-width: 768px){
.md\:col-span-2{grid-column:span 2/span 2;}
.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.md\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
.md\:w-1\/3{width:33.3333333333%;}
.md\:w-2\/3{width:66.6666666667%;}
.md\:flex{display:flex;}
}
@media (min-width: 1024px){
.lg\:hidden{display:none;}
.lg\:flex{display:flex;}
}
