{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">Edit Tags</h1>
<form method="post">
<div class="w-full overflow-auto">
<table class="min-w-full table-fixed text-left mt-4">
  <thead>
    <tr>
      <th class="text-left">Device</th>
      <th class="text-left">Tags (comma separated)</th>
    </tr>
  </thead>
  <tbody>
  {% for dev in devices %}
    <tr class="border-t border-gray-700">
      <td class="">{{ dev.hostname }}</td>
      <td class="">
        <input type="text" name="tags_{{ dev.id }}" value="{{ dev.tags | rejectattr('name', 'in', ['complete','incomplete']) | map(attribute='name') | join(', ') }}" class="w-full p-2 rounded bg-[var(--input-bg)] text-[var(--input-text)] border border-[var(--border-color)]" />
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<label class="block mt-4">
  <span class="block mb-1">New Tags (comma separated)</span>
  <input type="text" name="new_tags" class="w-full p-2 rounded bg-[var(--input-bg)] text-[var(--input-text)] border border-[var(--border-color)]" />
</label>
<span aria-label="Save" class="p-2 rounded transition mt-2 cursor-pointer" role="button" tabindex="0" onclick="this.closest('form').submit()">{{ include_icon('save') }}</span>
</form>
<p class="mt-2 text-base text-[var(--card-text)]">Automatic tags <em>complete</em> and <em>incomplete</em> cannot be removed.</p>
{% endblock %}
