{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">UI to be Sorted</h1>
<p class="mb-2">The following endpoints exist but are not linked in the current navigation:</p>
<ul class="list-disc ml-6 space-y-1">
  <li><a href="/admin/users" class="underline">/admin/users</a></li>
  <li><a href="/admin/cloud-sync" class="underline">/admin/cloud-sync</a></li>
  <li><a href="/network/port-configs" class="underline">/network/port-configs</a></li>
  <li><a href="/inventory/new-product" class="underline">/inventory/new-product</a></li>
  <li><a href="/inventory/new-camera" class="underline">/inventory/new-camera</a></li>
  <li><a href="/inventory/new-ruckus-ap" class="underline">/inventory/new-ruckus-ap</a></li>
  <li><a href="/inventory/switches" class="underline">/inventory/switches</a></li>
  <li><a href="/inventory/ptp" class="underline">/inventory/ptp</a></li>
  <li><a href="/inventory/ptmp" class="underline">/inventory/ptmp</a></li>
  <li><a href="/inventory/aps" class="underline">/inventory/aps</a></li>
  <li><a href="/inventory/iptv" class="underline">/inventory/iptv</a></li>
  <li><a href="/inventory/vog" class="underline">/inventory/vog</a></li>
  <li><a href="/inventory/ip-cameras" class="underline">/inventory/ip-cameras</a></li>
  <li><a href="/inventory/iot-devices" class="underline">/inventory/iot-devices</a></li>
  <li><a href="/install" class="underline">/install</a></li>
  <li><a href="/editor" class="underline">/editor</a></li>
</ul>
{% endblock %}
