{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">My SSH Credentials</h1>
<a href="/user/ssh/new" class="underline">Add SSH Credential</a>
<div class="w-full overflow-auto">
<table class="min-w-full table-fixed text-left mt-4">
  <thead>
    <tr>
      <th class="px-4 py-2 text-left">Name</th>
      <th class="px-4 py-2 text-left">Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for cred in creds %}
    <tr class="border-t border-gray-700">
      <td class="px-4 py-2">{{ cred.name }}</td>
      <td class="px-4 py-2">{{ cred.username }}</td>
      <td class="px-4 py-2">
        <a href="/user/ssh/{{ cred.id }}/edit" aria-label="Edit" class="p-2 rounded transition mr-2">{{ include_icon('pencil','text-blue-500','1.5') }}</a>
        <form method="post" action="/user/ssh/{{ cred.id }}/delete" class="inline">
          <span aria-label="Delete" class="p-2 rounded transition" role="button" tabindex="0" onclick="if(confirm('Delete profile?')) { this.closest('form').submit() }">{{ include_icon('trash-2','text-red-500','1.5') }}</span>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
