{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">{{ form_title }}</h1>
<form method="post">
  <div class="flex flex-wrap gap-x-8 gap-y-4 mb-4 items-start">
    <div class="flex flex-col flex-1 min-w-[280px]">
      <label for="tag" class="mb-1 fw-bold block">Tag</label>
      <input id="tag" type="number" name="tag" value="{{ vlan.tag if vlan else '' }}" class="form-input w-full" required />
    </div>
    <div class="flex flex-col flex-1 min-w-[280px]">
      <label for="description" class="mb-1 fw-bold block">Description</label>
      <input id="description" type="text" name="description" value="{{ vlan.description if vlan else '' }}" class="form-input w-full" />
    </div>
  </div>
  {% if error %}
  <p class="p-2 rounded bg-[var(--alert-bg)]">{{ error }}</p>
  {% endif %}
  <div class="flex flex-wrap gap-x-8 gap-y-4 mb-4 items-start">
    <div class="flex flex-col flex-1 min-w-[280px]">
      <span aria-label="Submit" class="p-2 rounded transition cursor-pointer" role="button" tabindex="0" onclick="this.closest('form').submit()">{{ include_icon('check') }}</span>
      <a href="/vlans" class="ml-2 underline">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
