{% extends "base.html" %}
{% block content %}
<h1 class="text-xl mb-4">Dashboard Preferences</h1>
<form method="post">
  {% for name, label in widget_labels.items() %}
  <div class="mb-2">
    <label for="widgets" class="inline-flex items-center">
      <input id="widgets" type="checkbox" name="widgets" value="{{ name }}" class="mr-2" {% if prefs[name] %}checked{% endif %}>
      {{ label }}
    </label>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-blue ">Save</button>
</form>
{% endblock %}
