{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">Devices tagged '{{ tag.name }}'</h1>
<div class="w-full overflow-auto px-4">
<table class="w-full table-fixed text-left">
  <thead>
    <tr>
      <th class="px-4 py-2 text-left">Hostname</th>
      <th class="px-4 py-2 text-left">IP</th>
      <th class="px-4 py-2 text-left">Tags</th>
    </tr>
  </thead>
  <tbody>
  {% for dev in devices %}
    <tr class="border-t border-gray-700">
      <td class="px-4 py-2"><a href="/devices/{{ dev.id }}/edit" class="inline-block p-2 bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)] text-[var(--btn-text)] rounded transition">{{ dev.hostname }}</a></td>
      <td class="px-4 py-2">{{ dev.ip }}</td>
      <td class="px-4 py-2">{{ dev.tags | map(attribute='name') | join(', ') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
