{% extends "base.html" %}
{% block content %}
<h1 class="text-xl mb-4">Device Column Preferences</h1>
<form method="post">
  {% for name, label in column_labels.items() %}
  <div class="mb-2">
    <label for="columns" class="inline-flex items-center">
      <input id="columns" type="checkbox" name="columns" value="{{ name }}" class="mr-2" {% if prefs[name] %}checked{% endif %}>
      {{ label }}
    </label>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-blue ">Save</button>
</form>
{% endblock %}
