{% extends "base.html" %}
{% block content %}
<h1 class="text-xl mb-4">{{ form_title }}</h1>
<form method="post">
  <div>
    <label class="block">Name</label>
    <input name="name" value="{{ site.name if site }}" class="text-black w-full p-2" required>
  </div>
  <div>
    <label class="block">Description</label>
    <textarea name="description" class="text-black w-full p-2">{{ site.description if site }}</textarea>
  </div>
  {% if error %}<p class="text-red-500">{{ error }}</p>{% endif %}
  <button type="submit" class="bg-blue-600 px-4 py-2">Submit</button>
</form>
{% endblock %}
