{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">SSH Tasks</h1>
<div class="flex flex-nowrap gap-2 bg-gray-700 p-2 rounded">
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/ssh/port-config">Port Config</a>
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/ssh/port-check">Port Check</a>
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/ssh/config-check">Config Check</a>
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/ssh/port-search">Port Search</a>
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/ssh/bulk-port-update">Bulk Port Update</a>
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/bulk/vlan-push">VLAN Bulk Push</a>
  <a class="px-4 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded transition  rounded-full" href="/ssh/netbird-connect">Initiate Netbird Connection</a>
</div>
{% endblock %}
