{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">SSH Tasks</h1>
<ul class="list-disc ml-6 space-y-1">
  <li><a class="underline text-blue-400" href="/ssh/port-config">Port Config</a></li>
  <li><a class="underline text-blue-400" href="/ssh/port-check">Port Check</a></li>
  <li><a class="underline text-blue-400" href="/ssh/config-check">Config Check</a></li>
  <li><a class="underline text-blue-400" href="/ssh/port-search">Port Search</a></li>
  <li><a class="underline text-blue-400" href="/ssh/bulk-port-update">Bulk Port Update</a></li>
  <li><a class="underline text-blue-400" href="/bulk/vlan-push">VLAN Bulk Push</a></li>
  <li><a class="underline text-blue-400" href="/ssh/netbird-connect">Initiate Netbird Connection</a></li>
</ul>
{% endblock %}
