{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">User Details</h1>
<table class="min-w-full text-left">
  <tbody>
    <tr class="border-t border-gray-700">
      <th class="px-4 py-2 text-left">Email</th>
      <td class="px-4 py-2">{{ user.email }}</td>
    </tr>
    <tr class="border-t border-gray-700">
      <th class="px-4 py-2 text-left">Role</th>
      <td class="px-4 py-2">{{ user.role }}</td>
    </tr>
    <tr class="border-t border-gray-700">
      <th class="px-4 py-2 text-left">Active</th>
      <td class="px-4 py-2">{{ 'Yes' if user.is_active else 'No' }}</td>
    </tr>
    <tr class="border-t border-gray-700">
      <th class="px-4 py-2 text-left">Created At</th>
      <td class="px-4 py-2">{{ user.created_at }}</td>
    </tr>
  </tbody>
</table>
{% if current_user and current_user.id == user.id %}
<a href="/users/me/edit" class="text-blue-400 underline">Edit Profile</a>
{% endif %}
{% endblock %}
