{% extends "base.html" %}

{% block content %}
<h1 class="text-xl mb-4">{{ form_title }}</h1>
<form method="post" class="space-y-4">
  <div>
    <label for="tag" class="block">Tag</label>
    <input id="tag" type="number" name="tag" value="{{ vlan.tag if vlan else '' }}" class="w-full p-2 text-black" required />
  </div>
  <div>
    <label for="description" class="block">Description</label>
    <input id="description" type="text" name="description" value="{{ vlan.description if vlan else '' }}" class="w-full p-2 text-black" />
  </div>
  {% if error %}
  <p class="text-red-500">{{ error }}</p>
  {% endif %}
  <div>
    <button type="submit" class="px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded transition ">Submit</button>
    <a href="/vlans" class="ml-2 underline">Cancel</a>
  </div>
</form>
{% endblock %}
